
#main-reserva{
    padding-top: 0px;
    width: 580px;
    padding-left: 10px;
    font: 500 20px Nunito, sans-serif;
    color: rgb(10, 41, 82);
    display: inline-block;
}

#main-reserva icon{
    padding: 5px;
    display: inline;
}

#main-reserva .inputtext {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
    }

#main-reserva label{
    font: 500 15px Nunito, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

#main-reserva label1{
    font: 500 15px Nunito, sans-serif;
    padding-left: 255px;
}

#main-reserva label2{
    font: 500 15px Nunito, sans-serif;
    padding-left: 230px;
}

#main-reserva label3{
    font: 500 15px Nunito, sans-serif;
    padding-left: 190px;
}
    
.inputdate {
    width: 120px;
    height: 30px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
    color: rgb(10, 41, 82);
    font: 500 14px Nunito, sans-serif;
    }

#main-reserva .confirm-button{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-right: 30px;
    border: 1px solid rgb(199, 195, 195);
    background: #F5F8FA;
    float: left;
    color: rgb(10, 41, 82);
    font: 500 16px Nunito, sans-serif;
}

#main-reserva .confirm-button:hover {
    background: #194759;
    color: #ffff;
}

#table-reserva{
    max-width: 800px;
    min-width: 730px;
    margin-top: 10px;
    display: inline-block;
}

