
#main-pet{
    padding-top: 0px;
    width: 580px;
    padding-left: 10px;
    font: 500 20px Nunito, sans-serif;
    color: rgb(10, 41, 82);
    display: inline-block;
}

.new-button{
    font: 500 18px Nunito, sans-serif;
    width: 180px;
    height: 40px;
    color: rgb(10, 41, 82);
    float: left;
    display: flex;
    text-decoration: none;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    transition: background-color 0.2s;
    border: 1px solid rgb(199, 195, 195);
}

.new-button:hover{
    background: linear-gradient(135deg, #cce2ff 20%, #CCF2FF 100%);
}

#main-pet .inputtext {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
    }

#main-pet label{
    font: 500 15px Nunito, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

#main-pet label1{
    font: 500 15px Nunito, sans-serif;
    padding-left: 255px;
}

#main-pet label3{
    font: 500 15px Nunito, sans-serif;
    padding-left: 225px;
}
    
.inputdate {
    width: 120px;
    height: 30px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
    color: rgb(10, 41, 82);
    font: 500 14px Nunito, sans-serif;
    }

#main-pet .confirm-button{
    width: 110px;
    height: 40px;
    margin-top: 20px;
    margin-right: 30px;
    border: 1px solid rgb(199, 195, 195);
    background: #F5F8FA;
    float: left;
    color: rgb(10, 41, 82);
    font: 500 16px Nunito, sans-serif;
}

#main-pet icon{
    padding: 5px;
    display: inline;
  
}

#main-pet .confirm-button:hover {
    background: #194759;
    color: #ffff;
}

#table-pet{
    max-width: 800px;
    min-width: 730px;
    margin-top: 10px;
    display: inline-block;

}

