body  {  		
	background: #d8f2f0;  
	}

#register-page  {  	
	margin: 1em auto;  	
	width: 900px;  	
	}  

.register-main  {  	
    float: right;  	
    width: 340px;  
    height: 560px;	

    }

.inputtextRegister {
    width: 320px;
    height: 35px;
    background: #F5F8FA;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    }

.register-main a{
    display: flex;
    padding-top: 10px;
    padding-left: 100px;
    font: 500 15px Nunito, sans-serif;
    }

.button-Register{
    float: center;
    width: 330px;
    height: 60px;
    cursor: pointer;
    background: #e96151;
    border-radius: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 18px Nunito, sans-serif;
    transition: background-color 0.2s;
    }

.button-Login:Register {
    background: #FFFFFF;
    color: #e96151;
}




