
#main-config{
    padding-top: 0px;
    padding-left: 10px;
    font: 500 20px Nunito, sans-serif;
    color: rgb(10, 41, 82);
    display: inline-block;
}

#main-config icon{
    padding: 5px;
    display: inline;
  
}

.confirm-button{
    float: left;
    width: 98px;
    height: 40px;
    margin-right: 30px;
    border: 1px solid rgb(199, 195, 195);
    cursor: pointer;
    background: #ffff;
    color: rgb(10, 41, 82);
    display: inline;
    border-radius: 10px;
    justify-content: left;
    align-items: center;
    font: 500 16px Nunito, sans-serif;
    transition: background-color 0.2s;
    }

.confirm-button:hover {
    background: #194759;
    color: #ffff;
}

.inputtext {
    width: 220px;
    height: 40px;
    padding-left: 10px;
    background: #F5F8FA;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    }

button{
    float: left;
    width: 98px;
    height: 40px;
    border: 1px solid rgb(199, 195, 195);
    cursor: pointer;
    background: #ffff;
    color: rgb(10, 41, 82);
    display: inline;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    font: 500 16px Nunito, sans-serif;
    transition: background-color 0.2s;
}

.button:hover {
    background: #194759;
    color: #ffff;
}