header#main-header{
    background: #CCF2FF;
    }

user{
    float: right;
    padding-top: 20px;
    padding-right: 100px;
    }

.user-button{
    float: center;
    width: 150px;
    height: 60px;
    border: 0px #CCF2FF;
    cursor: pointer;
    background: #CCF2FF;
    color: rgb(10, 41, 82);
    display: flex;
    justify-content: left;
    align-items: center;
    font: 600 18px Nunito, sans-serif;
    transition: background-color 0.2s;
    }

icon {
    width: 20px;
    height: 20px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

aside{
    float: left;
    width: 250px;
    height: 400px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 250px;
    display: block;
    background: #CCF2FF;
    border-right: 1px solid rgb(199, 195, 195);
    }

#box{
    height: 350px;
    width: 250px;
    display: block;
}

.menu-button{
    float: right;
    width: 250px;
    height: 60px;
    border: 0px solid rgb(199, 195, 195);
    cursor: pointer;
    background: #CCF2FF;
    color: rgb(10, 41, 82);
    display: flex;
    justify-content: left;
    align-items: center;
    font: 600 18px Nunito, sans-serif;
    color: rgb(10, 41, 82);
   
    }

h1 {
    padding-top: 40px;
    padding-left: 30px;
    color: 	#FF3F00;
    font: 600 40px Nunito, sans-serif;
    }