#main-editarReserva{
    padding-top: 0px;
    width: 580px;
    padding-left: 10px;
    font: 500 20px Nunito, sans-serif;
    color: rgb(10, 41, 82);
    display: inline-block;
}

#main-editarReserva icon{
    padding: 5px;
    display: inline;
    
}

#main-editarReserva .inputtext {
    width: 240px;
    height: 35px;
    }

#main-editarReserva .inputDate {
    width: 120px;
    height: 35px;
    }

#main-editarReserva .inputnote {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    background:#F5F8FA;;
    border: 1px solid rgb(199, 195, 195);
    display: flex;
    border-radius: 10px; 
    }

#main-editarReserva select{
    width: 235px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
}

#main-editarReserva .inputvalue {
    width: 100px;
    height: 35px;
    padding-left: 80px;
    background: #CCF2FF;
    border: 1px solid  #CCF2FF;;
    outline: none;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(199, 195, 195);
    }